body {
    margin: 0;
/*    margin-right: 50%;  */
    padding: 0;
    background-color:darkblue;
}
header {
    background-color:red;
}
.examen, header {
    margin: 2% 3% 5% 3%;
    font-family: calibri, sans-serif;
    font-style: normal;
    font-size:18px;
    background-color:lightgoldenrodyellow;     
}
.panel {
    margin: 1% 20% 1% 20%;
    font-family: calibri, sans-serif;
    font-style: normal;
    font-size:18px;
    background-color:lightgoldenrodyellow;
    border: 2px solid grey;
}
.leyenda {
    font-style: normal;
    font-size: 38px;   
    font-weight: bold;
    text-align: right;
    color: darkorange;
}
/*.submit{
    margin: auto;
}*/
.question {
    margin-bottom:1%;
/*    margin-right: 40%;   */
    margin: 1% 20% 1% 20%;
    font-weight: bold;    
    color:blue;  
    border: 2px solid blue;
	border-left: 5px solid blue;
	border-right: 5px solid blue;
	border-radius: 10px;
}
.question:hover{
    font-weight: bold;
    color:darkorange;
    background-color:blue;
}
.impar {
    background-color:orange;    
}
.par {
    background-color:orange;    
}
.text, .mlist, .checkbox, .list, .radio {
    margin: 1% 20% 1% 20%;
}    
.correction {
    margin: 1% 0% 1% 20%;
}
.solution, .correction {
    display: none;  
    vertical-align: middle;
}
.solution, span {
    color: blue;
    font-size:16px; 
    font-weight: bold;
    margin: 1% 0% 1% 0%;
}
.text, .mlist, .checkbox{
/*    background-color:cyan;    */ 
}
.list, .radio{
/*    background-color:lightcyan;    */ 
}
label, input, option, select {
    font-size:18px; 
}
.submit {
  	border-radius: 5px;
    margin: 0% 50%;
}